body {
    background-color: rgb(1, 2, 20) !important;
    color: rgb(238, 238, 238) !important;
    width: 100%;
}
nav {
    background-color: hsl(237, 94.9%, 7.6%);
    color: rgb(239, 239, 239);
}
button.btn.btn-primary,
a.btn.btn-primary {
    background: linear-gradient(90deg, rgb(2, 2, 191), #0583f2);
    border: 1px solid #0583f2;
    padding: 12px 30px;
    border-radius: 3px;
    width: 150px;
}
button.btn.btn-primary:hover,
a.btn.btn-primary:hover,
a.btn-primary.locker {
    background: rgb(2, 2, 191);
}
a.btn-primary.locker {
    border: 1px solid #0583f2;
}
button.btn.btn-secondary,
a.btn.btn-secondary {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 30px;
    border-radius: 3px;
    width: 150px;
}
button.btn.btn-secondary:hover,
a.btn.btn-secondary:hover {
    background: rgb(2, 2, 191);
    color: #Fff;
}
.hero-action {
    gap: 10px;
}
@media (max-width: 768px) {
    .hero-action a.btn {
        width: 100%;
        margin: 7px 0;
    }
}
nav .navbar-brand {
    padding-left: 5%;
}
nav .navbar-collapse {
    padding-right: 5%;
}
nav .navbar-brand,
nav .nav-item .nav-link {
    color: rgb(217, 217, 217);
}
nav .nav-item .nav-link.active,
nav .nav-item .nav-link:hover {
    color: #0583f2;
}
nav .navbar-toggler span {
    color: #fff;
}
header {
    height: 100vh;
    display: flex;
    color:rgb(238, 238, 238);
    background: url("./assets/imgs/bg.webp") hsl(237, 94.9%, 7.6%) ;
    background-size: cover;
    background-blend-mode: color-dodge;
    padding: 10% 5% 0 5% ;
}
header .socials {
    margin-top: 20%;
}
section {
    padding: 40px 5%;
}
.about-list {
    background-color: hsl(237, 94.9%, 7.6%);
    border: 1px solid #0583f2;
}
section#Services {
    background-color: hsl(237, 94.9%, 7.6%);
}
.services {
    width: 76%;
    margin: auto;
}
.services h4 {
    font-size: 16px;
    color: #0583f2;
}
.services ol {
    margin: 0;
    padding: 0;
}
.services li {
    list-style-type: none;
    padding: 10px 0;
    font-size: 14px;
}
@media (max-width: 900px) {
    .services {
        width: 100%;
    }
    .services .services-img {
        order: 2;
    }
}

.roadmap {
    width: 75%;
    padding: 30px;
    margin: 0 auto 25% auto;
}
.roadmap-middle {
    content: "";
    height: 10px;
    width: 10px;
    background: linear-gradient(90deg, #03549a, rgb(247, 71, 71), rgb(224, 224, 2),rgb(62, 252, 62), rgb(54, 54, 247));
    border-radius: 30px;
    width: 100%;
    position: relative;
}
.roadmap-middle span {
    position: absolute;
    content: "";
    background-color: #fff;
    border: 2px solid #0583f2;
    padding: 2px 10px;
    color: #0583f2;
    border-radius: 30px;
    top: -12px;
    left: -2.5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.573);
}
.roadmap-middle span:nth-child(2) {
    left: 25%;
    border-color: rgb(247, 71, 71);
    color: rgb(247, 71, 71);
}
.roadmap-middle span:nth-child(3) {
    left: 50%;
    border-color: rgb(224, 224, 2);
    color: rgb(168, 168, 3);
}
.roadmap-middle span:nth-child(4) {
    left: 75%;
    border-color: rgb(62, 252, 62);
    color: rgb(62, 252, 62);
}
.roadmap-middle span:nth-child(5) {
    left: 98%;
    border-color: rgb(54, 54, 247);
    color: rgb(54, 54, 247);
}
.roadmap .roadmap-top {
    position: relative;
    display: flex;
}
.roadmap .roadmap-top .phase{
    width: fit-content;
    position: relative;
    left: -15%;
    background-color: #0583f217;
    border-radius: 15px;
    border: 2px solid #0583f2;
}
.roadmap .roadmap-top .phase.phase2 {
    position: absolute;
    top: 110%;
    left: 15%;
    border: 2px solid rgb(247, 71, 71);
}
.roadmap .roadmap-top .phase.phase3 {
    left: 6%;
    border: 2px solid rgb(168, 168, 3);
}
.roadmap .roadmap-top .phase.phase4 {
    position: absolute;
    top: 110%;
    left: 60%;
    border: 2px solid rgb(62, 252, 62);
}
.roadmap .roadmap-top .phase.phase5 {
    left: 20%;
    border: 2px solid rgb(54, 54, 247);
}
.roadmap h4 {
    font-size: 16px;
    color: #0583f2;
    padding: 0;
}
.roadmap ul {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}
.roadmap li {
    line-height: 30px;
}
@media (max-width: 1000px) {
    .roadmap {
        width: 90%;
    }
    .roadmap .roadmap-top {
        display: block;
        order: 2;
    }
    .roadmap-middle {
        display: none;
    }
    .roadmap .roadmap-top .phase,
    .roadmap .roadmap-top .phase.phase2,
    .roadmap .roadmap-top .phase.phase4 {
        position: static;
        padding-inline: 30px;
        width: 100%;
        margin: 10px 0;
    }
}


footer {
    padding: 0 5%;
    background: url("./assets/imgs/bg.webp") hsl(237, 94.9%, 7.6%);
    background-blend-mode: color-dodge;
    background-size: cover;
}
footer li {
    list-style-type: none;
}
footer li a {
    text-decoration: none;
    color: inherit;
}
footer .footer-bottom {
    border-top: 1px solid rgb(217, 217, 217);
}
